.builderCard{
    position: relative;
    padding: 0;
}

.deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 1.2em;
}

.iconButton{
    border: none;
    outline: none;
    border-radius: 10rem;
    background: none;
    margin: 0;
    padding: 0;
}

.deleteButton:hover{
    color: rgb(241, 215, 215);
}

.description{
    text-align: left;
    margin: 0.5rem 0;
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
}

.positionerTop{
    position: absolute;
    z-index: 1;
    height: 50%;
    width: 100%;
    background-color: transparent;
}

.positionerBottom{
    position: absolute;
    z-index: 1;
    height: 50%;
    width: 100%;
    background-color: transparent;
    bottom: 0;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}