.container{
    padding: 0.5rem;
    height: fit-content;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff52;
    color: #1E1E1E;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.formItem{
    border: 0.2rem solid #007AD3;
    border-radius: 0.5rem;
    margin: 1rem;
    text-align: justify;
}

.dropZoneTop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    transition: all 0.3s ease;
    margin-top: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.dropZoneDown {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.dragOver {
   background-color: #007AD3;
   box-shadow: 0 5px 20px black;
}


.emptyDrop{
    border: 0.2rem dashed #007AD3;
    border-radius: 0.5rem;
    min-height: 10rem;
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.emptyIcon{
    width: 20%;
    min-width: 8%;
    height: 20%;
    min-height: 8%;
    display: inline-block;
}

.emptyText{
    color: black;
    max-width: 65%;
    margin: 5%;
    font-size: 1rem;
}


.builderCard{
    position: relative;
}

.deleteIcon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.deleteIcon:hover{
    box-shadow: rgba(0,0,0,0.5) 1px 1px 10px;
    border-radius: 100%;
}

.deleteIcon:active{
    background-color: beige;
}


.form{
    padding: 1rem;
}

.textFields{
    margin: 0.5rem 0 !important;
}


.placeholder{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.4rem 0.5rem;
    border: 2px dashed #007AD3;
    border-radius: 0.5rem;
    max-width: fit-content;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.placeholder:hover{
    opacity: 0.5;
}


.cancelIcon{
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}


.cancelIcon:hover{
    box-shadow: rgba(0,0,0,0.5) 1px 1px 10px;
    border-radius: 100%;
}

.addIcon{
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}


.addIcon:not(.disabledIcon):hover {
    box-shadow: rgba(0,0,0,0.5) 1px 1px 10px;
    border-radius: 100%;
}


.options{
    color: rgba(0, 0, 0, 0.6);
    list-style: none;
    font-size: 0.9rem;
}

.optionButton{
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0 0.2rem 0.5rem;
}


.disabledIcon{
    opacity: 0.5;
    pointer-events: none;
}

.disabledIcon:hover{
    box-shadow: none;
}

.toggler{
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    border: none;
    background:none;
    transition: all 0.2s ease-in-out 0s;
}


@media screen and (max-width: 950px){
    .container{
        width: 90%;
    }

    .header{
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        align-items: center;
    }

    .catcher{
        overflow: scroll;
        transition: max-height 500ms ease-in-out;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .catcher::-webkit-scrollbar{
        display: none;
    }

    .collapsed{
        max-height: 0;
    }

    .expanded{
        max-height: 30rem;
    }

    .toggler{
        display: block;
    }

    .emptyText{
        max-width: 50%;
    }
}

.clockwise{
    transform: rotate(90deg);
}