.container{
    padding: 1rem 2rem;
    height: 100vh;
    min-height: fit-content;
    width: 18%;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    background-color: #03111B;
    color: #fff;
    position: sticky;
    left: 0;
    top: 0;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.heading{
    cursor: pointer;
}

.lifter{
    display: none;
}

.lifterDesktop{
    display: block;
}

.draggable{
    cursor: grab;
}

@media screen and (max-width: 950px){
    .container{
        min-width: 100vw;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        align-items: center;
        z-index: 1;
    }
    .lifter{
        overflow: hidden;
        display: block;
        transition: height 500ms ease-in-out;
    }
    .components{
        text-align: center;
        height: fit-content;
    }
    .collapsed{
        height: 0;
    }
    
    .expanded{
        height: 11rem;
    }

    .hidden{
        display: none;
        margin: 0;
    }
    .visible{
        display: block;
        margin: 0;
    }

    .lifterDesktop{
        display: none;
    }

    .hopper{
        animation: hop 0.8s ease 0s infinite;
    }
}


@keyframes hop {
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(4px);}
    100%{ transform: translateY(0px);}
}