
.container{
    position: 'relative';
    width: 40%;
    max-height: '80vh';
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    outline: none;
}


.title{
    font-size: 1.25rem;
    word-break: break-word;
}

.content{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}

.output{
    max-height: 40%;
    overflow: hidden;
}

@media screen and (max-width: 950px){
    .container{
        width: calc(90% - 32px);
    }
}