.container{
    padding: 0.5rem;
    height: fit-content;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff48;
    color: #1E1E1E;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.formItem{
    padding: 0.5rem;
    border: 0.2rem solid #007AD3;
    margin: 1rem;
    text-align: justify;
    border-radius: 0.5rem;
}


.emptyPreview{
    border: 0.2rem solid #007AD3;
    border-radius: 0.5rem;
    min-height: 10rem;
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.emptyText{
    color: black;
    max-width: 40%;
    margin: 5%;
    font-size: 1rem;
    margin: 0;
}

.toggler{
   font-size: 1.5rem;
    display: none;
    cursor: pointer;
    border: none;
    background:none;
    transition: all 0.2s ease-in-out 0s;
}

.clockwise{
    transform: rotate(90deg);
}


.loading{
    height: 1.3rem;
    width: 1.3rem;
    border: 2px solid transparent;
    border-radius: 200px;
    border-top-color: black ;
    animation: spin 0.5s linear 0s infinite;
}


@keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}


@media screen and (max-width: 950px){
    .container{
        width: 90%;
    }
    .preview{
        overflow: scroll;
        transition: max-height 500ms ease-in-out;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
    }

    .preview::-webkit-scrollbar{
        display: none;
    }

    .collapsed{
        max-height: 0;
    }

    .expanded{
        max-height: 30rem;
    }

    .toggler{
        display: block;
    }
}