.builderCard{
    position: relative;
    padding: 0;
}

.deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    border-radius: 10rem;
    background: none;
    color: red;
    font-size: 1.2em;
}

.deleteButton:hover{
    color: rgb(241, 215, 215);
}