.App{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #94cbf8; */
    background-image: linear-gradient(to right, #cfd9df, #3e7795) ;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-shadow{ 
    border: 1px solid rgba(255,255,255,0.2);
    /* border: 1px solid #03111B; */
    border-radius: 0.5rem;
    box-shadow: rgba(0,0,0,0.5) 1px 2px 30px;
}

.right-pane{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5% 3%;
}


.header{
    width: 90%;
    margin: 1% auto;
    height: fit-content;
}

.input{
    margin: 0.5rem;
}