.container{
    padding: 1rem 2rem;
    height: 100vh;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    background-color: #03111B;
    color: #fff;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    padding: 1rem;
    z-index: 1;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

.heading{
    cursor: pointer;
}

.signOutButton{
    background: none;
    border: none;
    box-sizing: border-box;
    width: 90%;
    height: 2.5rem;
    display: flex;
    color: white;
    font-size: 1rem;
    padding: 2px;
    font-weight: 400;
    justify-content: left;
    gap: 2;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem 0; 

    &:active{
        border-color: #1976D2;
    }
}

.signOutIcon{
    width: 40%;
    height:80%;
}

.googleLogo{
    border-radius: 5rem;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }

    &:focus{
        box-shadow: 1px 1px 1px white ;
    }
    &:active{
        box-shadow: 1px 1px 1px white ;
    }

    &:disabled{
        opacity: 0.5;
        box-shadow: none;
    }
}

.formLink{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transform:  translateX(0);
    transition: transform 0.3s ease-in-out;
    display: inline-block   ;
    &:hover{
        transform: translateX(10px);
    }
}

.linkIcon{
    width: 10%;
}

.lifter{
    display: none;
}

.lifterDesktop{
    display: block;
}

.draggable{
    cursor: grab;
}

.profileModal{
    position: fixed;
    right: 0;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 20%;
    margin: 1rem 0.5rem;
    background-image: linear-gradient(to right,#cecece, #3e7795 98%);
    height: fit-content;
}

.profileMobile{
    display: none;
}

@media  screen and (max-width: 610px) {
    .profileModal{
        width: 40%;
    }
}


@media screen and (max-width: 950px){
    
    .lifter{
        overflow: hidden;
        display: block;
        transition: height 500ms ease-in-out;
    }
    .components{
        text-align: center;
        height: fit-content;
    }
    .collapsed{
        height: 0;
    }
    
    .expanded{
        height: 11rem;
    }

    .hidden{
        display: none;
        margin: 0;
    }
    .visible{
        display: block;
        margin: 0;
    }

    .lifterDesktop{
        display: none;
    }

    .hopper{
        animation: hop 0.8s ease 0s infinite;
    }

    .profileDesktop{
        display: none;
    }
    .profileMobile{
        display: inline-block;
    }
    
}


@keyframes hop {
    0%{ transform: translateY(0px);}
    50%{ transform: translateY(4px);}
    100%{ transform: translateY(0px);}
}