.App{
    min-height: 100vh;
    background-image: linear-gradient(to right, #cfd9df, #3e7795) ;
    color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}


.main{
    /* border: 4px solid yellow; */
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.formList{
    display: flex;
    flex-direction: column;
    width: 90%;
    box-sizing: border-box;
    justify-content: flex-start;
    row-gap: 1rem;
    margin: 1rem auto;
    align-items: center;
}

.formContainer{
    border: 0.2rem solid #033f6a;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeDown 0.5s ease-in-out 0s 1;
}

@keyframes fadeDown {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}


@media screen and (max-width: 950px){
    .container{
        width: 80%;
    }
    .formList{
        width: 95%;
    }
}

.link{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transform:  translateX(0);
    transition: transform 0.3s ease-in-out;
    display: inline-block   ;
    &:hover{
        transform: translateX(10px);
    }
    margin: 0 10px;
}

.linkIcon{
    width: 1rem;
}